@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor revise su correo electrónico para restablecer su contraseña.
    </p>
</div>
	
