@model EventiApp.Models.Menu
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

@{
    ViewBag.Title = "Eliminar Menú";
}


@Html.ActionLink(".", "Index", null, new { id = Model.IdMenu }, new { @class = "btn btn-lg btn-danger bi bi-skip-backward" })

<br />
<h3 class="text-center">¿Estas seguro de eliminar este Menú?</h3>
<br />

<div>
    <hr />
    <br />

    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th class="text-center">
                Tipo Menú
            </th>
            <th class="text-center">
                Descripción
            </th>
            <th class="text-center  bi bi-camera-fill">
                
            </th>



        </tr>

        <tr>
            <td class="text-center" style="position:relative; top:25px">
                @Html.DisplayFor(model => model.Type)
            </td>
            <td class="text-center" style="position:relative; top:25px">
                @Html.DisplayFor(model => model.Description)
            </td>
            <td class="text-center">
                <img src="~/Content/Menus/@Model.Photo" alt="image" style="width:110px;position:relative;right:7px;" />
            </td>



        </tr>

    </table>
    <br />

   

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions text-danger bi bi-trash3-fill">
            <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> 
            

        </div>
    }
</div>
