.bodyContent {
   padding-top: 70px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

/*CSS LOGIN*/
.backgroundLogin {
    background: url("./img/login.png") center center/cover fixed;
    width:100%;
    height:contain;

}

.fondoCover {
    position: relative;
}

    .fondoCover::before {
        content: "";
        background-color: #3a6ac2;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0.6;
    }

    .fondoCover > * {
        position: relative;
    }
 

.logoLogin {
    width: 80px;
    height: 80px
}


/*CSS footer*/
footer {
/*  position: absolute;
    bottom: 0;*/
    width: 99%;
}


.pie-pagina{
    width:100%;
    background-color: #242860;
}

    .pie-pagina .grupo-1 {
        width: 100%;
        max-width: 1200px;
        font-family: "Open Sans";
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 24px 0px;
    }
        .pie-pagina .grupo-1 .box figure {
            width: 100%;
            font-family: "Open Sans";
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .pie-pagina .grupo-1 .box figure img{
        width: 100px;
    }
        .pie-pagina .grupo-1 .box h2 {
            color: white;
            margin-bottom: 25px;
            font-family: "Open Sans";
            font-size: 20px;
        }
        .pie-pagina .grupo-1 .box p {
            color: white;
            font-family: "Open Sans";
            margin-bottom: 10px;
        }

        .pie-pagina .grupo-1 .social-links a {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 45px;
            color: #242858;
            margin-right: 5px;
            background-color: white;
            text-align: center;
            border-radius: 50%;
            transition: all 1000ms ease;
        }

            .pie-pagina .grupo-1 .social-links a:hover {
                color: white;
                background-color: #e5c167;
            }

    .pie-pagina .grupo-2 {
        background-color: #242858;
        padding: 15px 10px;
        text-align: center;
        color: #e5c167;
    }


    



    .footerItems {
        background-color: #242860;
        font-size: 28px;
        padding: 10px 5%;
    }

.footerItems li {
    list-style: none;
    color: white;
    font-size: 10px;
    font-family: "Open Sans";
}
.footercontent p{
    font-size: 15px;
}

.footerItems a {
    text-decoration: none;
    color: #525682;
}

.footerItems .footerTitle {
    color: white;
    
   
}

.footerLine {
    background-color: #525682;
    color: white;
    font-size: 28px;
    padding: 10px;
    
}

/*CSS HEADER*/


header {
    position: absolute;
    top: 0;
    width: 99%;
    background-color: #242860;
    padding:5px;
    height:70px
}
/*CSS MENU*/
.list-group-item {
    margin-bottom: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
    color: #242860;
}

.list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
    color: #e5c167;
    background-color: #242860;
    border-right: 6px solid #e5c167;
}

footer-items footer-content h3{
    background: blue;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color:white;
}

/*body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
    flex-wrap: wrap;
}*/

.card {
    position:page;
    width: 100%;
    
    background: #f8f8f8;
    border-radius: 13px;
    overflow: hidden;
    transition: 1.5s;
    margin: 15px 20px;

    
  
}
.card:hover{
    box-shadow: 0 25px 30px #242860;
    transform: translateY(-20px);
}

    .card .head {
        display:flex;
        grid-template-columns: repeat(2, 1fr);
        height: 100px;
        width: 100%;
        position: relative;
    }
.card .head .circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background:#e5c167;
    bottom: 0;

}

        .card .head .img {
            width: 150px;
            height: 150px;
            position: absolute;
            background: #f7f7f7;
            padding: 5px;
            border-radius: 50%;
            bottom: -30%;
            left: 50%;
            transform: translate(-50%);
        }
.card .head .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card .description{
    position:center;
    height: 100px;
    padding:0px 0px 50px 450px;
    border-bottom: solid 1px rgba(6, 74, 76, .18);
    text-align:center;

}
    .card .description h3{
       
       margin-top: -130px;
       margin-bottom:30px;
        color: #242860;
    }

    .card .description h4 {
        color: #e5c167;
        margin-bottom: 30px;
    }
    .card .description p {
        margin-top: 20px;
        font-size: 15px;
    }
    .card .contact{
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card .contact a{
        text-decoration: none;
        color: white;
        background: #242860;
        padding: 5px 20px;
        border-radius: 5px;
        transition: .5s;
    }

    .card .contact a:hover{
        background: #e5c167;
    }
