@{
    ViewBag.Title = "Sobre Nosotros";
}
<h2>¿Quienes Somos?</h2>
<br />
<h4>¡Nuestro Equipo!</h4>

<head>
    @Styles.Render("~/Content/Site.css")
</head>
<br />
<br />
<body>

    <div class="card">

        <div class="head">

            <div class="circle">

                <div class="img">
                    <img src="~/Content/img/user.png" alt="" />
                </div>

            </div>
        </div>
        <br />
        <br />
        <br />

        <div class="description">

            <h3>Glasfira María Cortecero Gonzalez</h3>

            <h4>Aprendiz ADSI - Desarrollo de Software</h4>
            <p>El texto que sea necesario</p>


        </div>
        <div class="contact">
           <a href="#">Contacto Directo</a>

        </div>
    </div>
    <br />

    <div class="card">

        <div class="head">

            <div class="circle">

                <div class="img">
                    <img src="~/Content/img/user.png" alt="" />
                </div>

            </div>
        </div>
        <br />
        <br />
        <br />

        <div class="description">

            <h3>Erick Felipe Pineda Briñez</h3>

            <h4>Aprendiz ADSI - Desarrollo de Software</h4>
            <p>El texto que sea necesario</p>


        </div>

        <div class="contact">
            <a href="#">Contacto Directo</a>

        </div>

    </div>







</body>
