@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Tus Eventos</h1>
    <p class="lead">
        Organiza, promociona y gestiona de una manera creativa
        e innovadora la forma de conectarte con tus empleados
        mediante los servicios que podemos ofrecerte.
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">Mas Informacion &raquo;</a></p>
</div>

<div class="row mt-3">
    <div class="col-md-4">
        <h2>Gustos Eventi</h2>
        <p style="min-height:100px">
            El gusto eventi es aquello que diferencia a todas las demás
            aplicaciones de organización de eventos de esta.
        </p>
        <p><a class="btn btn-warning" href="#">Leer Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reuniones de almuerzo</h2>
        <p style="min-height:100px">
            Aporta una
            gran experiencia en este sector, ademas de competitividad y
            compromiso.
        </p>
        <p><a class="btn btn-warning" href="#">Leer Mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Celebraciones</h2>
        <p style="min-height:100px">
            Crea eventos de tipo empresarial donde ofrecemos
            una experiencia de calidad,en la que encontraras elegancia
            distinción , creatividad, glamour, estetica, organización como
        </p>
        <p><a class="btn btn-warning" href="#">Leer Mas &raquo;</a></p>
    </div>
</div>
