@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">



<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="forntEnd-Developer" content="Mamunur Rashid">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Inicio - Eventi</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.html" type="image/x-icon">
    <!-- bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Plugin css -->
    <link rel="stylesheet" href="assets/css/plugin.css">

    <!-- stylesheet -->
    <link rel="stylesheet" href="assets/css/style.css">
    
    <!-- responsive -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <script src="https://kit.fontawesome.com/05b0d5fb4c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
</head>

<body>
    <!-- preloader area start -->
    <div class="preloader" id="preloader">
        <div class="loader loader-1">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>
        </div>
    </div>
    <!-- preloader area end -->
    <!-- Header Area Start  -->
    <header class="header">

        <!--Main-Menu Area Start-->
        <div class="mainmenu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="col-lg-2 " href="index.html">
                                <img src="assets/images/LogoE.png" alt="">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse fixed-height" id="main_menu">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false">
                                            Inicio
                                            <div class="mr-hover-effect"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="footer">
                                            Módulos
                                            <div class="mr-hover-effect"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="footer">
                                            Funcionalidades
                                            <div class="mr-hover-effect"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="footer">
                                            Beneficios
                                            <div class="mr-hover-effect"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="footer">
                                            Contáctenos
                                            <div class="mr-hover-effect"></div>
                                        </a>
                                    </li>



                                </ul>
                                <a href="~/Account/Login" class="mybtn1"> Iniciar sesión</a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!--Main-Menu Area Start-->
    </header>
    <!-- Header Area End  -->
    <!-- Hero Area Start -->
    <div class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex align-self-center">
                    <div class="left-content">
                        <div class="content">

                            <h1>
                                Software para la gestión de eventos
                            </h1>
                            <br>
                            <br>
                            <p>
                                Nuestro sistema te ofrece una herramienta de ayuda en la creación, control, selección y check-list, brindandote una interfaz amigable y facíl de manejar para que así dispongas del evento o reunión  a tu manera y planeación
                            </p>
                            <br>
                            <div class="links">
                                <a href="~/Account/Login" class="mybtn1 link1">Agendar ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-center">
                        <img src="assets/images/Logos2.png" alt="">
                    </div>

                </div>
            </div>
            <h2 style="position: relative;  font-size: 47px;">MÓDULOS</h2>
        </div>

    </div>
    <!-- Hero Area End -->
    <!-- Featured Game Area Start -->
    <section class="featured-game">

        <!-- Features Area Start -->
        <div class="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="feature-box">
                            <div class="feature-box-inner">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="single-feature">
                                            <div class="icon one">
                                                <img src="assets/images/feature/fi9.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">

                                                    Fiestas, reuniones, Celebraciones y mucho más
                                                </h4>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="single-feature">
                                            <div class="icon two">
                                                <img src="assets/images/feature/manos7.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">
                                                    Mejora la organización y obtén más control
                                                </h4>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="single-feature">
                                            <div class="icon three">
                                                <img src="assets/images/feature/menu4.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">
                                                    Dispone de Menús
                                                    o Bebidas para tu evento
                                                </h4>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features Area End -->
        <br />
        <br />
        <br />
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading">

                    <h2 class="title" style="color:#e5c167; position: relative; top: 66px; font-size:47px;">
                        Funcionalidades
                    </h2>
                    <img src="assets/images/ic3.png" style="position: relative; top: 85px;">

                </div>
            </div>
        </div>

        <section class="recent-winners">

            <div class="container">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-winer" style="padding:30px 30px 3px">
                            <div class="top-area" style="position: relative; text-align: center;">

                                <div class="left">
                                    <h4 class="name">
                                        Envia los correos tu mismo
                                    </h4>


                                    <br>
                                    <p class="date">
                                        Así tendrás más control sobre tus invitados
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-winer" style="padding:30px 30px 3px">

                            <div class="top-area" style="position: relative; text-align: center;">

                                <div class="left">
                                    <h4 class="name">
                                        Check-list y selecciones al momento
                                    </h4>
                                    <br>
                                    <p class="date">
                                        Toda la información y datos de tu evento
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-winer" style="padding:30px 30px 3px">
                            <div class="top-area" style="position: relative; text-align: center;">
                                <div class="left">
                                    <h4 class="name">
                                        Informa a tus colaboradores
                                    </h4>

                                    <br>

                                    <p class="date">
                                        Por medio de los reportes que generes
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <br>
                <br>

                <div class="row" style="border-color: #e5c167">
                    <div class="col-lg-4">
                        <div class="single-winer" style="padding:30px 30px 3px">
                            <div class="top-area" style="position: relative; text-align: center;">

                                <div class="left">
                                    <h4 class="name">
                                        Inspecciona tu evento
                                    </h4>
                                    <br>
                                    <p class="date">
                                        Podrás conocer los detalles e información de tus empleados
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-winer" style="padding:30px 30px 3px">

                            <div class="top-area" style="position: relative; text-align: center;">

                                <div class="left">
                                    <h4 class="name">
                                        Describe lo que ofreces
                                    </h4>
                                    <br>
                                    <p class="date">
                                        Para tus invitados será mucho más facíl saber lo que quieren
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-winer" style="padding:30px 30px 3px">
                            <div class="top-area" style="position: relative; text-align: center;">
                                <div class="left">
                                    <h4 class="name">
                                        Conoce lista de invitados
                                    </h4>
                                    <br>
                                    <p class="date">
                                        Así sabrás quien confirmo tu invitación
                                    </p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <br />
                <br />
                <div class="row">
                    <div class="col-lg-12 text-xl-center">
                        <a class="mybtn2" href="#"> Conocer más </a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        </section>

        <section class="get-start">
            <h2 class="subtitulo" style="position: relative;  font-size: 47px;">BENEFICIOS</h2>
            <section class="contenedor" id="servicio">


                <br>

                <br>
                <div class="contenedor-servicio ">
                    <img src="assets/images/monos8.png" alt="">
                    <div class="chacklist-servicio">

                        <div class="service">
                            <h4 class="n-service"><span class="number">1</span>Genera tus propios reportes</h4>
                            <p>
                                Eventi te permite generar reportes y asi que tengas<br>
                                las diferentes listas a la mano para lo que desees o<br>
                                transmitir esa información al personal
                            </p>
                        </div>


                        <br>
                        <div class="service">
                            <h4 class="n-service"><span class="number">2</span>Toda la información de tu evento</h4>
                            <p>
                                Desde el momento que creas tu evento conoceras de <br> inmedianto
                                los datos y las reacciones acerca de el

                            </p>
                        </div>

                        <br>

                        <div class="service">
                            <h4 class="n-service"><span class="number">3</span>Control sobre tus invitados</h4>
                            <p>
                                Conoceras de primera de mano la interación de tus <br />
                                invitados con el sistema sin necesidad de contartarte <br />
                                con ellos para que así ganes tiempo y que obtengas<br />
                                más organización
                            </p>
                        </div>


                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>

            </section>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 d-flex align-self-center">
                        <div class="left-area">
                            <div class="section-heading">
                                <h5 class="subtitle">
                                    En un entorno amigable
                                </h5>
                                <h2 class="title ">
                                    Gana tiempo y ahorra costos
                                </h2>
                                <p class="text">
                                    Ayudandote con la gestión de tu evento y teniendo un conteo claro al momento para que evites sobrecostos en lo que ofrezcas.


                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="right-image">
                            <img src="assets/images/get-start.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </section>


    </section>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">

            <div>
                <section id="contact">

                    <div class="social">

                        <a href=""></a>
                        <a href=""></a>
                        <a href=""></a>
                        <a href=""></a>

                    </div>

                    <div class="contact-box">

                        <div class="c-heading">

                            <h1 style="font-family:Ubuntu,sans-serif; font-weight: 600;">¿Preguntas?</h1>
                            <p style="font-family:Ubuntu,sans-serif; font-weight: 600;">Contáctenos</p>

                            <div class="c-inputs">
                                <input type="text" placeholder="Nombre Completo" />
                                <input type="email" placeholder="Correoejemplo@gmail.com" />
                                <input type="text" placeholder="Teléfono" />
                                <br>
                                <br>
                                <br>
                                <textarea name="message" placeholder="Escribe un mensaje"></textarea>

                                <button style="font-family:Ubuntu,sans-serif; font-weight: 100;">Enviar</button>
                            </div>


                        </div>
                    </div>

                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2364.58774657686!2d-74.06736503892495!3d4.63921077779523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a308618d6d5%3A0xafb4429784208488!2sCentro%20De%20Gesti%C3%B3n%20De%20Mercados%2C%20Loistica%20Y%20Tecnologias%20De%20La%20Informaci%C3%B3n!5e0!3m2!1ses!2sco!4v1646672148455!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>


                </section>
            </div>
        </div>


    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
   





    <!-- Latest Activities Area End -->



    <footer class="pie-pagina">


        <div class="grupo-1">

            <div class="box">

                <figure>
                    <a href="#">

                        <img src="assets/images/LogoCc.png" alt="Logo Eventi" />

                    </a>
                </figure>

            </div>



            <div class="box">

                <h2> Contáctenos </h2>

                <p> Bogotá D.C - Colombia </p>
                <p> Email : infoeventi@gmail.com </p>
                <p>
                    Teléfonos : +57 3204401818 -<br />
                    061 4549050
                </p>

            </div>

            

            <div class="box">

                <h2> Síguenos también en </h2>

                <div class="social-links">

                    <a href="https://www.facebook.com/"> <i class="fab fa-facebook "> </i> </a>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <!--- <a href=""> <i class="fab fa-instagram "> </i> </a>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;-->
                    <a href="https://www.youtube.com/"> <i class="fab fa-youtube "> </i> </a>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <a href=""> <i class="fab fa-linkedin-in "> </i> </a>

                </div>

            </div>

        </div>


        <div class="grupo-2">

            <small> &copy; 2020-2022 <b> Software Eventi - Proyecto formativo</b> - Todos los derechos reservados</small>

        </div>


    </footer>
    <!-- Footer Area End -->
    <!-- Back to Top Start -->
    <!-- SignIn Area End -->
    <!-- jquery -->
    <script src="assets/js/jquery.js"></script>
    <!-- popper -->
    <script src="assets/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- plugin js-->
    <script src="assets/js/plugin.js"></script>

    <!-- MpusemoverParallax JS-->
    <script src="assets/js/TweenMax.js"></script>
    <script src="assets/js/mousemoveparallax.js"></script>
    <!-- main -->
    <script src="assets/js/main.js"></script>
</body>


<!-- Mirrored from pixner.net/dooplo/dooplo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Nov 2019 20:08:12 GMT -->
</html>
